* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height:100%;
  border: 1px solid black;
  flex-basis: 100%;
  background-image: linear-gradient(to right bottom, rgb(18, 18, 18), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  overflow: scroll;
}
h2{
  color: white;
  font-size: 30px;
}
.flex-item{
  flex-basis: 100%;
}
.contenuto1{
  justify-content: center;
  display: flex;
}
.contenuto1 ul, a{
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 10px;
  opacity: 0.5;
  text-decoration: none;


}
.contenuto1 a:hover{
  opacity: none;
  color: white;

}
.contenuto1 li{
  margin-top: 40px;
  list-style-type: none;
}
.contenuto2{
  justify-content: flex-start;
  display: flex;
  margin-left: 15%;*a a*debug*a
}
.contenuto3{
  display:flex;

  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
}
.contenuto3 img, a{
  width: 110px;
  height: 110px;
  margin: 20px;
  border-radius: 50px;
}
#norotondo{
  border-radius: 0;
}
#sinistra{
align-self: flex-start;
display: flex;
}
.img p{
  color: white;
  text-align: center;
}
